/* LOGIN */
.login-card {
    min-height: 60vh;
}

.registerMessage {
    margin-top: 10vh;
}

/* Reg */
.loginText {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}